$bg_base: #fff;

$font_read: 'Inter', sans-serif;

$cl_primary: #e9ab53;
$cl_secondary: #f15e50;
$cl_gray: #5d5f79;
$cl_gray_darken: #00001a;
$cl_gray_light: #c5c6ce;
$cl_white: #fffdfa;
$cl_black: #000000;

// break point
$smallphone: 390px;
$mntablet: 768px; 
$mdtablet: 990px; 
$desktop: 1024px;
$desktopxl: 1300px;
$desktophd: 1900px;